$col_lightblue: #4cb7f5;
$col_darkblue: #009fc7;
$col_grey: #aaaaaa;
$col_lightgrey: #F6F6F6;


body {
  margin: 0;
}

header {

  background-color: $col_lightgrey;
  border-bottom: 1px solid $col_darkblue;
  padding: 40px 0;
  margin-bottom: 100px;

  @media (max-width: 960px) {
    margin-bottom: 100px;
  }

  @media (max-width: 725px) {
    margin-bottom: 60px;
  }
}

.container {
  @media (max-width: 345px) {
    width: 100vw;
  }
}

.row {
  margin-bottom: 160px;
  
  @media (max-width: 960px) {
    margin-bottom: 100px;
  }

  @media (max-width: 725px) {
    margin-bottom: 60px;
  }
}


.menu-bar {
  position: relative;
  .menu-icon {
    img {
      position: absolute;
      height: 30px;
      width: 30px;
      right: 10%;
      top: 50%;
    }
  }

  .menu-icon:hover {
    cursor: pointer;
  }

  padding-top: 2%;
  .menu-right {
    float: right;
  }
  .menu-left {
    float: left;
  }

  a {
    color: #000;
    margin-right: 20px;
    text-transform: uppercase;
  }

  a:hover {
    color: $col_lightblue;
    transition: .3s;
    text-decoration: none;
  }

  a:active,
  a:visited {
    text-decoration: none;
  }
}
.menu-bar.open {
  .menu-right,.menu-left {
    float: none;

    a {
      display: block;
    }
  }
}

.go-to-wordlist {
  margin:auto;
  text-align: center;
  width: 80%;

  a,
  a:hover,
  a:visited,
  a:focus {
    color: #fff;
    text-decoration: none;
  }
}



.logo-outer {
  text-align:center;

  .logo {
  }

  img {
    width: 40%;
    
    @media (max-width: 700px) {
      width: 80%;
    }
  }
}


.logo-outer:before,
.logo-outer:after {
  background: #000;
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 30%;

  @media (max-width: 768px) {
    display: none;
  }
}

.logo-outer:before {
  right: 1.5em;
  margin-left: -50%;
}

.logo-outer:after {
  left: 1.5em;
  margin-right: -50%;
}

.hidden {
  display: none;
}

.invisible {
  opacity: 0;
}

.word-manager-outer,
.word-trainer-outer {
  text-align: center;
}

.description {
  margin-bottom: 65px;
}


.buttons-container {
  display: flex;
  flex-wrap: nowrap;
}

.button {
  background: $col_grey;
  border: none;
  color: #fff;
  padding: 15px 30px;
  position: relative;
  transition: all 0.2s;
  text-transform: uppercase;

  img {
    position: absolute;
    height: 2rem;
    top: 50%; right: 7%;
    transform: translateY(-50%);
    width: 2rem;
  }
}

.button.go-to-wordlist-button {
  padding-right: 7%;
}

.button:hover {
  background-color: $col_lightblue
}

.button:focus {
  outline: none;
}

.full-vocabulary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
  width: 90%;
}

.image-side {
  @media (max-width: 960px) {
    display: none;
  }

  img {
    margin: auto;
    width: 70%;
  }
}

.brain-image img {
  float: left;
}

.book-image img {
  float: right;
}



footer {
  border-top: 1px solid $col_grey;
  background: $col_lightgrey;
  padding: 30px;
  .footer-inner {
    text-align: center;
  }
}