@font-face {
    font-family: 'Ranga';
    src: url("../fonts/Ranga-Bold.ttf");
}

html {
    font-size: 10px;
}

@media (max-width: 991px) {
    html {
        font-size: 8px;
    }
}

@media (max-width: 767px) {
    html {
        font-size: 8px;
    }
}

.logo {
    font-family: 'Ranga', cursive;
    font-size: 6rem;
    line-height: 100%;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
    margin: 0 0 40px;
}

label,input {
    font-family: 'Roboto', sans-serif;
}

input {
    font-size: 2rem;
}

.button {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
}

.control-buttons .button {
    padding-right: 0;
    padding-left: 0;
    width: 30%;
}

.word-to-learn  {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.wordlist {
    font-family: 'Roboto', sans-serif;
    font-size: 2.2rem;
}