$col_lightblue: #4cb7f5;
$col_darkblue: #009fc7;
$col_grey: #aaaaaa;
$col_lightgrey: #F6F6F6;


.word-trainer {
  background: #ffffff;
  border: 5px solid $col_grey;
  padding: 40px 20px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  transition: all 1s;
  z-index: 9999;

  -webkit-animation-name: effectiveAppearance;
  -webkit-animation-duration: 0.7s;
  animation-name: effectiveAppearance;
  animation-duration: 0.7s;

  label,input {
    display: block;
    margin: auto;
    text-align: center;
    width: 100%;
  }

  input {
    border: 2px solid $col_lightblue;
    border-radius: 5px;
    height: 70px;
    margin-bottom: 10px;
    padding: 10px 5px;
    text-transform: uppercase;
    transition: all 0.3s;
  }

  input:focus {
    border-color: $col_darkblue;
    outline: none;
  }


  .word {
    margin-bottom: 25px;
    text-align: center;
    text-transform: uppercase;
  }

  .button:first-child {
    margin-right: 5px;
  }

  .buttons-container {
    justify-content: center;
  }

  .button.blocked {
    background-color: #fff;
    border: 1px solid $col_lightgrey;
    color: $col_lightgrey;
    cursor: not-allowed;
  }

  .button.blocked:hover {
    background-color: initial;
  }

  .close-icon {
    background: url('../img/icon_delete.png') no-repeat;
    background-size: cover;
    border: 0; outline: 0;
    height: 25px;
    position: absolute;
    top: 10px; right: 10px;
    width: 25px;
  }

  .selector select {
    border: 2px solid $col_lightblue;
    border-radius: 5px;
    padding: 3px;
    width: 100%;
  }

  select:focus {
    outline: none;
  }
}
